.row{
    margin-left: 0px;
    margin-right: 0px;
}
//card 
.card{
    border-radius: 0.5rem;

    .card-body{
        padding: 1rem;
    }
}

//Create Post 
.create-post{
    .user-logo{
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .createpost{
        flex:1;

        input{
            width:100%;
            border-radius: 20px;
            background-color: #ddd;
        }
    }

    .post-options{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem;
        p{
            margin:0;
        }
        &:hover{
            cursor: pointer;
            background-color: #eee;
            border-radius: 10px;
        }
        .post-img{
            max-width: 30px;
        }
    }

    hr{
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }
}

.list-group-item{
    display: flex;
    align-items: center;
    background-color: transparent;
    border:unset;
    &:hover{
        background-color: #ececec;
        border-radius: 10px;
    }
}

//Left Sidebar
.leftside-bar{
    .user-image{
        width: 100px;
        height: 100px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ececec;
        padding: 5px;
    }
    .list-group-item{
        margin-right: 50px;
        margin-left:10px;
        &:first-child{
            flex-direction: column;
            justify-content: center;
        }
    }
    .user-icon{
        max-width: 25px;
        margin-right: 10px;
        img{
            width: 100%;
        }
    }
}

//icons with background transparent and circle shape
.icons-outer{
    width: 40px;
    height: 40px;
    background-color: #e3e3e3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{        
        background-color: #ccc;
    }
}

//Rightside bar
.rightside-bar{
    .heading{
        color:#65676b;
    }
    &.list-group{
        // margin-left: 50px;
        margin-right:10px;
    }
    .frequent-page-logo{
        width: 100px;
        border-radius: 5px;
    }
}


/* Rounded sliders */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 26px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
    transition: .4s;
    -webkit-transition: .4s;
	&:before {
		position: absolute;
		content: "";
		height: 18px;
		width: 18px;
		left: 2px;
		bottom: 4px;
		background-color: white;
        transition: .4s;
        -webkit-transition: .4s;
	}
}
input {
	&:checked {
		+ {
			.slider {
				background-color: #2196F3;
				&:before {
                    transform: translateX(26px);
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
				}
			}
		}
	}
	&:focus {
		+ {
			.slider {
				box-shadow: 0 0 1px #2196F3;
			}
		}
	}
}
.slider.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
}
